:root{
    --primary-color:#4747A1;
    --blue-color: #7DA0FA;
    --red-color:#F3797E;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #1f1f1f;
    --icon-color: #6c7383;
    --success-color: #57b657;
    --warning-color:#ffc100;
    --danger-color:#ff4747;
    --default-color: #248afd;



    --navbar-height:58px;
    --sidebar-width: 236px;
    --sidebar-s-width:70px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    width: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.noti-icon--success{
    color: var(--success-color);
}
.noti-icon--warning{
    color: var(--warning-color);
}
.noti-icon--default{
    color: var(--default-color);
}
/*card css*/
.card-area{
    margin-bottom: 50px;
}
.card-container{
    min-height: 160px;
    width: 100%;
    border-radius: 15px;
    background-color:#7978E9;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 30px 22.5px;
}
.card-number{
    font-size: 3rem;
    margin-top: 27px;
    margin-bottom: 20px;
    font-weight: 700;
}
.report-title{
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.primary-bg{
    background-color: var(--primary-color);
}
.warning-bg{
    background-color: var(--warning-color);
}
.default-bg{
    background-color: var(--default-color);
}
.red-bg{
    background-color: var(--red-color);
}
.blue-bg{
    background-color: var(--blue-color);
}