:root{
    --primary-color:#4747A1;
    --blue-color: #7DA0FA;
    --red-color:#F3797E;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #1f1f1f;
    --icon-color: #6c7383;
    --success-color: #57b657;
    --warning-color:#ffc100;
    --danger-color:#ff4747;
    --default-color: #248afd;



    --navbar-height:58px;
    --sidebar-width: 236px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    width: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.noti-icon--success{
    color: var(--success-color);
}
.noti-icon--warning{
    color: var(--warning-color);
}
.noti-icon--default{
    color: var(--default-color);
}
