
/*navbar css*/
/* .app{
    overflow: hidden;
} */
.header{
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
}
.navbar{
    height: var(--navbar-height);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 5px 21px -5px #cdd1e1;
}

.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-img-link{
    width: 100%;
    padding-top: 3px;
}
.navbar-logo{
    height: 34px;
    width: 140px;
}
.navbar-logo-s{
    height: 34px;
    margin-left: -10px;
}
.toggle-line-icon{
    transition: 0.3s ease-out;
    margin-left: 130px;
}
.toggle-up {
    margin-left: 80px;
    animation-name: toggle-up;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.toggle-down {
    margin-left: 130px;
    animation-name: toggle-down;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.navbar-toggle-mobile{
    padding: 10px;
    display: none;
}
/*animations*/
@keyframes toggle-up {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes toggle-down {
    100% {
        transform: rotate(-180deg);
    }
}
.navbar-toggle-line,
.search-btn{
    padding-right:20px;
}
.toggle-line-icon,
.search-btn-icon,
.navbar-noti-btn,
.toggle-dots-icon,
.toggle-line-mobile{
    font-size: 2rem;
    color: var(--icon-color);
    cursor: pointer;
}
.navbar-search{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow:0 0.0625rem 20px 0 rgba(0,0,0,0.05);
    padding: 10px 20px;
}
.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-ava{
    height: 100%;
}
.ava-img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
}

.navbar-ava,
.navbar-toggle-dots{
    padding: 0 20px;
    cursor: pointer;
}
.navbar-right{
    position: relative;
}
.noti-btn-icon{
    margin-right: 20px;
}
.navbar-noti-btn{
    position: relative;
}
.navbar-noti-btn::before{
    content: "";
    display: block;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -3px;
    left: 8px;
    
}
.navbar-noti{
    display: none;
    position: absolute;
    top:calc(var(--navbar-height) - 10px);
    right: 0;
    box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
    padding-top: 10px;
    border-radius: 5px;
    min-width: 270px;
    background-color: var(--white-color);
}
.navbar-noti-container{
    position: relative;
}
.navbar-noti-container::after{
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 10px;
    width: 100px;
}
.navbar-noti-title{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 4px 28px;
    
}
.navbar-noti-link{
    text-decoration: none;
    padding: 12px 28px;
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    
}
.navbar-noti-link:hover{
    background-color: #e8eff4;
}
.navbar-noti-item{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-content{
    padding-left: 15px;
}
.noti-item-msg{
    padding-bottom: 7px;
}
.noti-item-status{
    font-size: 1.3rem;
    color: #737f8b;
}
.noti-item-icon{
    font-size: 2rem;
}
.navbar-noti--active{
    display: block;
}


/*side bar css*/
.sidebar--hide{
    display: none;
}
.sidebar-container{
    background-color: var(--white-color);
    width: var(--sidebar-width);
    position: fixed;
    bottom: 0;
    z-index: 10;
    transition: 0.2s linear;
    top: var(--navbar-height);
    transition: all 0.3s ease-in;
}
.sidebar-container.active{
    width: var(--sidebar-s-width);
}
.sidebar{
    padding: 32px 18px;
}
.sb-item-container{
    position: relative;
}
.sb-item{
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--icon-color);
    padding: 15px;
    margin-bottom: 6px;
    white-space: nowrap;
}
.sb-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.sidebar-title{
    padding-left: 10px;
    width: 100%;
    transition: all 0.4s ease;
}

.sb-icon-arrow{
    /* position: absolute;
    right: 0; */
    font-size: 1.3rem;
    transition: ease-in 0.2s;
}
.sidebar-container.active .sb-icon-arrow{
    display: none;
}
.sb-icon-arrow--active{
    transform: rotate(90deg);
}
.sb-list-container{
    display: none;
    background-color: var(--primary-color);
    padding-top: 10px;
    list-style: none;
    transition: max-height 0.3s ease-out;
}
.showList{
    display: block;
}
.sidebar-link{
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 45px;
}
.sidebar-link:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sidebar-link::before{
    content: '';
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 3px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
li.sidebar-title .sidebar-link::before{
    display: none;
}
.sidebar-container.active .sidebar{
    padding: 32px 0 0 0 ;
}
.sidebar-container.active .sb-item{
    border-radius: 0;
    margin-bottom: 0;
}
.sidebar-container.active .sb-icon{
    font-size: 1.8rem;
    margin-left: 10px;
}
.sidebar-container.active  .sb-item-container{
    justify-content: center;
}
.sidebar-container li.sidebar-title{
    display: none;
}
.sidebar-container.active .sidebar-title{
    display: none;
}
.sidebar-container.active li.sidebar-title{
    opacity: 1;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 0px;
    min-height: 50px;

}
.sidebar-container.active .sb-item:hover .sb-list-container{
    display: block;
}
.sidebar-container.active .sb-item{
    position: relative;
}
.sidebar-container.active .sb-list-container{
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    left: var(--sidebar-s-width);
    color: var(--white-color);
    width: 200px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0;
} 

.sidebar-container.active .sidebar-item{
    padding-left: 20px;
}
.sidebar-container.active .sb-list-container.blank{
    bottom: 0;
}

.sidebar--active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
/*body content css*/
.main{
    position: relative;
    top: var(--navbar-height);
    left: var(--sidebar-width);
    background-color: #F5F7FF;
    width: calc(100% - var(--sidebar-width));
}
.sidebar-container.active ~ .main{
    left: var(--sidebar-s-width);
    width: calc(100% - var(--sidebar-s-width));
}
.wrapper{
    padding: 35px;
}
/*welcome area css*/
.welcome-area{
    margin-bottom: 70px;
}
.header-welcome{
    color: var(--text-color);
    font-size: 1.6rem;
}
.header-welcome-title{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.header-welcome-msg{
    font-size: 1.4rem;
}

.select-container{
    width: 200px;
    position: relative;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: #212529;
    border-radius: 15px;
}
.select-header{
    border-radius: 15px;
    cursor: pointer;
    padding:9px 15px ;
}

.select-icon{
    margin-left: 5px;
}
.option-container{
    z-index: 10;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    top: 40px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    display: none;
}
.select-option{
    padding:10px 15px ;
    cursor: pointer;
}
.select-option:hover{
    background-color: #e8eff4;
}
.header-welcome-alert{
    color: var(--primary-color);
}
/*Banner*/
.people-banner-bg{
    background-color: #DAE7FF;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.people-banner-container{
    position: relative;
    margin-top: auto;
}
.people-banner-img{
    border-radius: 15px;
    width: 100%;
    vertical-align: middle;
    object-fit:cover;
}
.people-banner-content{
    position: absolute;
    top: 10%;
    color: var(--text-color);
    display: flex;
    right: 24px;
    
}
.people-banner-degree{
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    font-size: 300;
    margin-right: 30px;
}
.people-banner-title{
    margin-left: 10px;
    position: relative;
}
.people-banner-title::after{
    content: 'C';
    position: absolute;
    font-size: 1.8rem;
    top: -2px;
}
.people-banner-location{
    font-size: 2rem;
    font-weight: 300;
}
.location-content{
    margin-bottom: 4px;
}
/*card css*/
.card-area{
    margin-bottom: 50px;
}
.card-container{
    min-height: 160px;
    width: 100%;
    border-radius: 15px;
    background-color:#7978E9;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 30px 22.5px;
}
.card-number{
    font-size: 3rem;
    margin-top: 27px;
    margin-bottom: 20px;
    font-weight: 700;
}
.card-percentage{
    margin-bottom: 9px;
    font-size: 1.4rem;
}
.card-primary{
    background-color: var(--primary-color);
}
.card-blue{
    background-color: var(--blue-color);
}
.card-red{
    background-color: var(--red-color);
}
