
/*navbar css*/

.header{
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
}
.navbar{
    height: var(--navbar-height);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 5px 21px -5px #cdd1e1;
}

.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-img-link{
    width: 100%;
    padding-top: 3px;
}
.navbar-logo{
    height: 34px;
    width: 140px;
}
.navbar-logo-s{
    height: 34px;
    margin-left: -10px;
}
.toggle-line-icon{
    transition: 0.3s ease-out;
    margin-left: 130px;
}
.toggle-up {
    margin-left: 80px;
    animation-name: toggle-up;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.toggle-down {
    margin-left: 130px;
    animation-name: toggle-down;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.navbar-toggle-mobile{
    padding: 10px;
}
/*animations*/
@keyframes toggle-up {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes toggle-down {
    100% {
        transform: rotate(-180deg);
    }
}
.navbar-toggle-line,
.search-btn{
    padding-right:20px;
}
.toggle-line-icon,
.search-btn-icon,
.navbar-noti-btn,
.toggle-dots-icon,
.toggle-line-mobile{
    font-size: 2rem;
    color: var(--icon-color);
    cursor: pointer;
}
.navbar-search{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow:0 0.0625rem 20px 0 rgba(0,0,0,0.05);
    padding: 10px 20px;
}
.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-ava{
    height: 100%;
}
.ava-img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
}

.navbar-ava,
.navbar-toggle-dots{
    padding: 0 20px;
    cursor: pointer;
}
.navbar-right{
    position: relative;
}
.noti-btn-icon{
    margin-right: 20px;
}
.navbar-noti-btn{
    position: relative;
}
.navbar-noti-btn::before{
    content: "";
    display: block;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -3px;
    left: 8px;
    
}
.navbar-noti{
    display: none;
    position: absolute;
    top:calc(var(--navbar-height) - 10px);
    right: 0;
    box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
    padding-top: 10px;
    border-radius: 5px;
    min-width: 270px;
    background-color: var(--white-color);
}
.navbar-noti-container{
    position: relative;
}
.navbar-noti-container::after{
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 10px;
    width: 100px;
}
.navbar-noti-title{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 4px 28px;
    
}
.navbar-noti-link{
    text-decoration: none;
    padding: 12px 28px;
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    
}
.navbar-noti-link:hover{
    background-color: #e8eff4;
}
.navbar-noti-item{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-content{
    padding-left: 15px;
}
.noti-item-msg{
    padding-bottom: 7px;
}
.noti-item-status{
    font-size: 1.3rem;
    color: #737f8b;
}
.noti-item-icon{
    font-size: 2rem;
}
.navbar-noti--active{
    display: block;
}


/*side bar css*/
.sidebar--hide{
    display: none;
}
.sidebar-container{
    background-color: var(--white-color);
    position: absolute;
    top: var(--navbar-height);
    width: var(--sidebar-width);
    left: 0;
    bottom: 0;
    z-index: 10;
    transition: 0.2s linear;
}
.sidebar{
    width: var(--sidebar-width);
    padding: 32px 18px;
}

.sb-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sb-item{
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--icon-color);
    padding: 15px;
    margin-bottom: 6px;
}
.sb-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}
.sidebar-s-element:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}
.sidebar-title{
    padding-left: 10px;
    width: 100%;
}

.sb-icon-arrow{
    font-size: 1.3rem;
    left: 2px;
    transition: ease-in 0.2s;
}
.sb-icon-arrow--active{
    transform: rotate(90deg);
}
.sb-list-container{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.sidebar-lists{
    padding-top: 10px;
}

.sidebar-link{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    padding: 10px 0px 10px 45px;
}
.sidebar-link:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*sidebar s css*/
.sidebar-s{
    padding-top: 26px;
}
.sidebar-s-element{
    position: relative;
    height: 55px;
    color: var(--icon-color);
}
.sidebar-s-element:hover .sidebar-s-list{
    display: block;
}
.sidebar-s-list{
    display: none;
    position: absolute;
    left: var(--sidebar-s-width);
    top: 0;
    min-height: 55px;
    background-color: var(--primary-color);
    width: 200px;
    padding:12px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sidebar-s-title{
    color: var(--white-color);
    font-size: 1.6rem;
    position: relative;
    top: 7px;
}
.sb-s-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 1.8rem;
}
.sidebar-s-lists{
    padding-top: 20px;
}
.sidebar-s-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    display: block;
    padding: 8px 20px;

}

.sidebar--active{
    background-color: var(--primary-color);
    color: var(--white-color);
    display: block;
}
/*body content css*/
.main{
    position: relative;
    top: 40px;
    left: var(--sidebar-width);
    background-color: #F5F7FF;
    width: calc(100% - var(--sidebar-width));
    height: 1000px;
}
.wrapper{
    padding: 35px;
}
/*welcome area css*/
.header-welcome{
    color: var(--text-color);
    font-size: 1.6rem;
}
.header-welcome-title{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.header-welcome-msg{
    font-size: 1.4rem;
}

.select-container{
    width: 200px;
    position: relative;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: #212529;
    border-radius: 15px;
}
.select-header{
    border-radius: 15px;
    cursor: pointer;
    padding:9px 15px ;
}

.select-icon{
    margin-left: 5px;
}
.option-container{
    border-radius: 5px;
    border: 1px solid #CED4DA;
    top: 40px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    display: none;
}
.select-option{
    padding:10px 15px ;
    cursor: pointer;
}
.select-option:hover{
    background-color: #e8eff4;
}
.header-welcome-alert{
    color: var(--primary-color);
}
