/*navbar css*/
.navbar{
    display: flex;
    height: var(--navbar-height);
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 5px 21px -5px #cdd1e1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-left{
    display: flex;
    align-items: center;

}
.navbar-img-link{
    width: 100%;
    padding-top: 3px;
}
.navbar-logo{
    height: 34px;
    width: 140px;
    margin-right: 130px;
}
.navbar-toggle-line,
.search-btn{
    padding-right:20px;
}
.toggle-line-icon,
.search-btn-icon,
.navbar-noti-btn,
.toggle-dots-icon{
    font-size: 2rem;
    color: var(--icon-color);
    cursor: pointer;
}
.navbar-search{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow:0 0.0625rem 20px 0 rgba(0,0,0,0.05);
    padding: 10px 20px;
}
.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-ava{
    height: 100%;
}
.ava-img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
}

.navbar-ava,
.navbar-toggle-dots{
    padding: 0 20px;
    cursor: pointer;
}
.navbar-noti-btn{
    position: relative;
}
.navbar-noti-btn:hover .navbar-noti{
    display: block;
}
.noti-btn-icon{
    margin-right: 20px;
}
.navbar-noti-btn::before{
    content: "";
    display: block;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -3px;
    left: 8px;
}
.navbar-noti{
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
    padding-top: 10px;
    border-radius: 5px;
    min-width: 270px;
}

.navbar-noti-btn::after{
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    top: 20px;
    right: 10px;
    width: 50px;
}
.navbar-noti-title{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 4px 28px;
    
}
.navbar-noti-link{
    text-decoration: none;
    padding: 12px 28px;
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);

}
.navbar-noti-link:hover{
     background-color: #e8eff4;
}
.navbar-noti-item{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-content{
    padding-left: 15px;
}
.noti-item-msg{
    padding-bottom: 7px;
}
.noti-item-status{
    font-size: 1.3rem;
    color: #737f8b;
}
.noti-item-icon{
    font-size: 2rem;
}