
/*navbar css*/
.app{
    overflow: hidden;
}
.header{
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
}
.navbar{
    height: var(--navbar-height);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 5px 21px -5px #cdd1e1;
}

.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-img-link{
    width: 100%;
    padding-top: 3px;
}
.navbar-logo{
    height: 34px;
    width: 140px;
}
.navbar-logo-s{
    height: 34px;
    margin-left: -10px;
}
.toggle-line-icon{
    transition: 0.3s ease-out;
    margin-left: 130px;
}
.toggle-up {
    margin-left: 80px;
    animation-name: toggle-up;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.toggle-down {
    margin-left: 130px;
    animation-name: toggle-down;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.navbar-toggle-mobile{
    padding: 10px;
    display: none;
}
/*animations*/
@keyframes toggle-up {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes toggle-down {
    100% {
        transform: rotate(-180deg);
    }
}
.navbar-toggle-line,
.search-btn{
    padding-right:20px;
}
.toggle-line-icon,
.search-btn-icon,
.navbar-noti-btn,
.toggle-dots-icon,
.toggle-line-mobile{
    font-size: 2rem;
    color: var(--icon-color);
    cursor: pointer;
}
.navbar-search{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow:0 0.0625rem 20px 0 rgba(0,0,0,0.05);
    padding: 10px 20px;
}
.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-ava{
    height: 100%;
}
.ava-img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
}

.navbar-ava,
.navbar-toggle-dots{
    padding: 0 20px;
    cursor: pointer;
}
.navbar-right{
    position: relative;
}
.noti-btn-icon{
    margin-right: 20px;
}
.navbar-noti-btn{
    position: relative;
}
.navbar-noti-btn::before{
    content: "";
    display: block;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -3px;
    left: 8px;
    
}
.navbar-noti{
    display: none;
    position: absolute;
    top:calc(var(--navbar-height) - 10px);
    right: 0;
    box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
    padding-top: 10px;
    border-radius: 5px;
    min-width: 270px;
    background-color: var(--white-color);
}
.navbar-noti-container{
    position: relative;
}
.navbar-noti-container::after{
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 10px;
    width: 100px;
}
.navbar-noti-title{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 4px 28px;
    
}
.navbar-noti-link{
    text-decoration: none;
    padding: 12px 28px;
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    
}
.navbar-noti-link:hover{
    background-color: #e8eff4;
}
.navbar-noti-item{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-content{
    padding-left: 15px;
}
.noti-item-msg{
    padding-bottom: 7px;
}
.noti-item-status{
    font-size: 1.3rem;
    color: #737f8b;
}
.noti-item-icon{
    font-size: 2rem;
}
.navbar-noti--active{
    display: block;
}


/*side bar css*/
.sidebar--hide{
    display: none;
}
.sidebar-container{
    background-color: var(--white-color);
    width: var(--sidebar-width);
    position: fixed;
    bottom: 0;
    z-index: 10;
    transition: 0.2s linear;
    top: var(--navbar-height);
    transition: all 0.3s ease-in;
}
.sidebar{
    padding: 32px 18px;
}
.sb-item-container{
    display: flex;
    align-items: center;
    position: relative;
}
.sb-item{
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--icon-color);
    padding: 15px;
    margin-bottom: 6px;
    white-space: nowrap;
}
.sb-item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.sidebar-title{
    padding-left: 10px;
    transition: all 0.4s ease;
}

.sb-icon-arrow{
    margin-left: auto;
    font-size: 1.3rem;
    transition: transform ease-in 0.2s;
}
.sb-icon-arrow--active{
    transform: rotate(90deg);
}
.sb-list-container{
    display: none;
    background-color: var(--primary-color);
    padding-top: 10px;
    list-style: none;
}
.showList{
    display: block;
}
.sidebar-link{
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 45px;
}
.sidebar-link:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sidebar-link::before{
    content: '';
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 3px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
li.sidebar-title .sidebar-link::before{
    display: none;
}

.sidebar--active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
/*body content css*/
.main{
    position: relative;
    top: var(--navbar-height);
    left: var(--sidebar-width);
    background-color: #F5F7FF;
    width: calc(100% - var(--sidebar-width));
    transition: all 0.3s ease;
}
/*side bar icon only*/
@media (min-width:1024px){
    .navbar-noti-container:hover .navbar-noti{
        display: block;
    }
    .sidebar-container.active{
        width: var(--sidebar-s-width);
    }
    .sidebar-container.active .sb-icon-arrow{
        display: none;
}
    .sidebar-container.active .sidebar{
        padding: 32px 0 0 0 ;
    }
    .sidebar-container.active .sb-item{
        border-radius: 0;
        margin-bottom: 0;
    }
    .sidebar-container.active .sb-icon{
        font-size: 1.8rem;
    }
    .sidebar-container.active  .sb-item-container{
        justify-content: center;
        pointer-events: none !important;
    }
    .sidebar-container li.sidebar-title{
        display: none;
    }
    .sidebar-container.active .sidebar-title{
        display: none;
    }
    .sidebar-container.active li.sidebar-title{
        opacity: 1;
        display: flex;
        height: 100%;
        align-items: center;
        font-size: 1.6rem;
        padding-left: 0px;
        min-height: 50px;
    
    }
    .sidebar-container.active .sb-item:hover .sb-list-container{
        display: block;
    }
    .sidebar-container.active .sb-item{
        position: relative;
    }
    .sidebar-container.active .sb-list-container{
        font-size: 1.4rem;
        position: absolute;
        top: 0;
        background-color: var(--primary-color);
        left: var(--sidebar-s-width);
        color: var(--white-color);
        width: 200px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 0;
    } 
    
    .sidebar-container.active .sidebar-item{
        padding-left: 20px;
    }
    .sidebar-container.active .sb-list-container.blank{
        bottom: 0;
    }
    .sidebar-container.active ~ .main{
        left: var(--sidebar-s-width);
        width: calc(100% - var(--sidebar-s-width));
    }

}
.wrapper{
    padding: 35px;
}
/*welcome area css*/
.welcome-area{
    margin-bottom: 70px;
}
.header-welcome{
    color: var(--text-color);
    font-size: 1.6rem;
}
.header-welcome-title{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.header-welcome-msg{
    font-size: 1.4rem;
}

.select-container{
    width: 200px;
    position: relative;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: #212529;
    border-radius: 15px;
}
.select-header{
    border-radius: 15px;
    cursor: pointer;
    padding:9px 15px ;
}

.select-icon{
    margin-left: 5px;
}
.option-container{
    z-index: 10;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    top: 40px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    display: none;
}
.select-option{
    padding:10px 15px ;
    cursor: pointer;
}
.select-option:hover{
    background-color: #e8eff4;
}
.header-welcome-alert{
    color: var(--primary-color);
}
/*Banner*/
.people-banner-bg{
    background-color: #DAE7FF;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.people-banner-container{
    position: relative;
    margin-top: auto;
}
.people-banner-img{
    border-radius: 15px;
    width: 100%;
    vertical-align: middle;
    object-fit:cover;
}
.people-banner-content{
    position: absolute;
    top: 10%;
    color: var(--text-color);
    display: flex;
    right: 24px;
    
}
.people-banner-degree{
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    font-size: 300;
    margin-right: 30px;
}
.people-banner-title{
    margin-left: 10px;
    position: relative;
}
.people-banner-title::after{
    content: 'C';
    position: absolute;
    font-size: 1.8rem;
    top: -2px;
}
.people-banner-location{
    font-size: 2rem;
    font-weight: 300;
}
.location-content{
    margin-bottom: 4px;
}
/*card css*/
.card-percentage{
    margin-bottom: 9px;
    font-size: 1.4rem;
}

/*Order chart and Sales chart*/
.order-sales-section{
    margin-top: 45px;
}
.report-container{
    height: 100%;
}
.report-content{
    font-size: 1.5rem;
    color: var(--text-color);
}

.report-desc{
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.report-analysis{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.report-analysis__item{
    padding-right: 40px;
}
.report-analysis__name{
    color: #737F8B;
}
.report-analysis__num{
    color: var(--primary-color);
    font-size: 2.3rem;
    padding-top: 20px;
    font-weight:700;
}
.report-view__all{
    color: var(--default-color);
    font-weight: 500;
    font-size: 1.6rem;
    margin-left: auto;
    cursor: pointer;
}
.report-view__all:hover{
    color: #0264d3 ;
    text-decoration: underline;
}
.chart-legend{
    font-size: 1.5rem;
    list-style: none;
    margin-top: 40px;
}
.chart-legend__item{
    margin: 10px 50px;
    position: relative;
}
.chart-legend__item::before{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    display: block;
    padding: 3.5px 20px;
    border-radius: 5px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}   
.chart-legend__item:first-child::before{
    background-color: var(--blue-color);
}
.chart-box{
    width: 100%;
    height: 400px;
}
/*detailed report css*/
.detail-report-section{
    margin-top: 45px;
    margin-bottom: 45px;
}
.detail-content{
    padding-top: 15px;
}
.detail-money{
    color: var(--primary-color);
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.detail-locate{
    color: var(--primary-color);
    margin-bottom: 30px;
    font-size: 2.9rem;
    font-weight: 500;
}
.detail-msg{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2rem;
}
.detail-range-section{
    border-right: 1px solid #CED4DA;
}
.detail-range__container{
    display: flex;
    align-items: center;
}
.detail-range__container:first-child{
    padding-top: 30px;
}
.range-name{
    padding: 20px 0;
    min-width: 120px;
    font-size: 1.5rem;
    color: var(--icon-color);
}
.ranger-progress{
    margin-left: 20px;
    margin-right: 40px;
    width: 50%;
    height: 10px;
    background-color: #e8eff4;
    border-radius: 15px;
    position: relative;
}
.range-number{
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 700;
    
}
.ranger-progress::before{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    border-radius: 15px;
}
.ranger-progress.washington::before{
    background-color: var(--warning-color);
    width:30%;
}
.ranger-progress.mississippi::before{
    background-color: var(--danger-color);
    width:90%;
}
.ranger-progress.cali::before{
    background-color: var(--default-color);
    width:60%;
}
.ranger-progress.maryland::before{
    background-color: var(--danger-color);
    width:80%;
}
.sales-donut-chart{
    width: 250px;
    margin: 0 auto;
}
.sales-donut-legend__container{
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.sales-donut-legend{
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.sales-donut-num{
    margin-left: auto;
}
.sales-donut-name{
    padding-left: 20px;
}
.sales-donut-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.sales-slider{
    display: flex;
    justify-content: flex-end;
}
.sales-slider__arrow{
    background-color: #ecedf2;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.sales-slider__arrow i{
    font-size: 1.2rem;
    color: var(--icon-color);
}
.report-title > .sales-slider{
    display: none;
}
/*top product css*/
.product-todo-section{
    margin-bottom: 45px;
}
.product-table{
    width: 100%;
    font-size: 1.5rem;
    border-collapse: collapse;
    color: #212529;
    overflow-x: auto;
    white-space: nowrap;
}
@media (max-width: 1540px){
    .table-responsive{
        display: block;
    }
}
.product-table th,
.product-table td{
    padding: 20px 25px ;
}
.product-table th{
    text-align: left;
    font-weight: bold;
}
.product-table tr:nth-of-type(even){
    background-color: #F5F7FF;
}
.table-price{
    font-weight: bold;
}
.table-status{
    font-size: 1.1rem;
    border-radius: 15px;
    color: var(--white-color);
    padding: 4px 8px;
    display: inline-block;
}
/*todo*/
.todo-section{
    height: 100%;
}
.todo-container{
    overflow-y:scroll;
    overflow-x: scroll;
    font-size: 1.5rem;
    color: var(--text-color);
    height: 80%;
}
.todo-item{
    list-style-type: none;
    border: 1px solid #CED4DA;
    border-radius: 7px;
    padding: 20px 25px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-content{
    margin-left: 30px;
}
.todo-delete{
    color: var(--icon-color);
    cursor: pointer;
    opacity: 0.8;
}
.todo-delete i{
    font-size: 1.8rem;
}
/*custom checkbox*/
.todo-check-label{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*hide default checkbox*/
.todo-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check-mark{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 3px;
    display: block;
    width: 18px;
    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 2px;
}
.todo-checkbox:checked ~.check-mark{
    background-color: var(--primary-color);
}
.todo-checkbox:checked ~.check-mark::after{
    display: block;
}
.check-mark::after{
    content: "";
    position: absolute;
    left: 3px;
    bottom: 1px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.todo-add-container{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.todo-add-field{
    border:none;
    flex: 1;
    padding: 10px;
    font-size: 1.5rem;
}
.todo-add-field:focus{
    outline: none;
}
.todo-add-btn i{
    font-size: 2.2rem;
    color: var(--primary-color);
    cursor: pointer;
}
/*project and noti css*/
.project-noti-section{
    margin-bottom: 45px;
}
.project-section{
    height: 100%;
}
.project-table{
    font-size: 1.5rem;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    color: #212529;
    white-space: nowrap;
}
.project-table th{
    text-align: left;
    font-weight: bold;
    padding: 10px 20px 10px 0;

}
.project-table tr:first-child{
    border-bottom: 2px solid #ddd;
}
.project-table td{
    padding: 20px 20px 20px 0;
}
.table-number{
    font-weight: bold;
}
.table-user{
    opacity: 0.7;
}
/*chart data css*/

.chart-data-section {
    margin-bottom: 20px;
}
.chart-data-item{
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.chart-data-progress{
    display: flex;
    align-items: center;
}
.chart-data-range{
    width: 90%;
    border-radius: 15px;
    height: 11px;
    position: relative;
    overflow: hidden;
}
.chart-data-title{
    margin-bottom: 5px;
}
.chart-data-range::before{
    position: absolute;
    content: "";
    background-color: var(--default-color);
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
}
.chart-data-range-40::before{
    width: 40%;
}
.chart-data-range-20::before{
    width: 20%;
}
.chart-data-range-90::before{
    width: 90%;
}
.chart-data-number{
    margin-left: auto;
}
/*card css*/
.card-img{
    position: absolute;
    right: 15px;
}