/*Computer width*/
@media (min-width:1024px){
    .navbar-noti-container:hover .navbar-noti{
        display: block;
    }
}
/*Mobile and tablet*/
@media (max-width:1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .show-on-mobile-tablet{
        display: block;
    }
    .main{
        left: 0;
        width: 100%;
    }
    .select-container{
        margin-top: 20px;
    }

    .navbar-noti{
        position: fixed;
        right: 0;
        left: 0;
        top: var(--navbar-height);
        transition: top 0.4s ease-in;
        animation: navbarNotiShow 0.3s;
    }
    @keyframes navbarNotiShow {
        from{
            top: 0;
            opacity: 0;
        }
        to{
            top: var(--navbar-height);
            opacity: 1;
        }
    }
    .sidebar-container{
        right:0; 
        left: calc(100% - var(--sidebar-width)); 
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
    }
    .sidebar-container--active{
        transform: translateX(0); 
    }
}
/*Tablet*/
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .wrapper{
        padding:32px 25px 0 25px;
    }
}
/*Mobile*/
@media (max-width:739px){
    .hide-on-mobile{
        display:none;
    }
    .wrapper{
        padding:27px 20px 0 20px;
    }
    .select-section{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}