
/*Mobile and tablet*/
@media (max-width:1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .show-on-mobile-tablet{
        display: block;
    }
    .show-on-mobile-tablet__flex{
        display: flex !important;
    }
    .col-mt{
        margin-top: 30px;
    }
    .main{
        left: 0;
        width: 100%;
    }
    .select-container{
        margin-top: 20px;
    }
    .navbar-toggle-mobile{
        display: block;
    }
    .navbar-noti{
        position: fixed;
        right: 0;
        left: 0;
        top: var(--navbar-height);
        transition: top 0.4s ease-in;
        animation: navbarNotiShow 0.3s;
        -webkit-animation: navbarNotiShow 0.3s;
        -moz-animation: navbarNotiShow 0.3s;
    }
    @keyframes navbarNotiShow {
        from{
            top: 0;
            opacity: 0;
        }
        to{
            top: var(--navbar-height);
            opacity: 1;
        }
    }
    .sidebar-container{
        right: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
    }
    .sidebar-container--active{
        transform: translateX(0); 
        width: var(--sidebar-width);
    }
    .sidebar-container li.sidebar-title {
        display: none;
    }
    .report-analysis{
        margin-bottom: 30px;
    }
    .report-analysis__num{
        padding-top: 10px;
    }
    .report-analysis__item{
        margin-bottom: 20px;
    }
    .chart-box{
        height: 300px;
    }
    .detail-range__container:first-child {
        padding-top: 0;
    }
    .sales-slider{
        margin-left: auto;
    }
    .footer-container{
        padding: 20px 15px;
    }
    
}
/*Tablet*/
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .wrapper{
        padding:32px 25px 0 25px;
    }
    .card-number{
        margin-bottom: 9px;
    }
    .card-area{
        margin-bottom: 10px;
    }
    .people-banner-content{
        top: -70px;
    }
    .sales-donut-chart{
        width: 180px;
        height: 200px;
    }
    .chart-data-section{
        height: 100%;
    }
    .card-img{
        top: 12px;
    }
    .footer-content{
        width: 50%;
    }
}
/*Mobile*/
@media (max-width:739px){
    .hide-on-mobile{
        display:none;
    }
    .wrapper{
        padding:27px 10px 0 10px;
    }
    .select-section{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .card-area{
        margin-bottom: 0;
    }
    .col-mg{
        margin-bottom: 30px;
    }
    .order-sales-section{
        margin-top: 0;
    }
    .product-todo-section{
        margin-bottom: 0;
    }
    .detail-report-section {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .detail-range-section{
        border: 0;
    }
    .chart-data-section{
        margin-bottom: 0;
    }
    .footer-container{
        text-align: center;
    }
    .footer-title-container{
        display: block;
    }
    .footer-content,
    .footer-title-item{
        padding-bottom: 10px;
    }
}